#challenge {
    font-size:  80%;
    background-color: #eee;
    padding:    1em;
    border:     1px solid black;
}

#referente {
    vertical-align: middle;
    line-height: normal;
    border-right:   1px solid #AAA;
    padding:        2em;
}   
