<html>
    <head>
        <title><?= [$::rivetweb::current_page title $::rivetweb::language] ?></title>
    </head>
    <body><?
        puts [$::rivetweb::current_page print_content $::rivetweb::language]
        ?><footer><pre><?  
            set handler_class [[::rwdatas::UrlHandler::current_handler] info class]
            set handler_db_link [::rivet::xml $handler_class [list a href [::rivetweb::composeUrl dbdump 1]]]
            set development_footer [list [$::rivetweb::current_page key] \
                                         "template: $::rivetweb::template_key" \
                                         [$::rivetweb::current_page info class] \
                                         $handler_db_link]
            puts [join $development_footer " | "]
        ?></pre></footer></body>
</html>
