<html>
    <head>
        <title><?= [$::rivetweb::current_page title $::rivetweb::language] ?></title>
        <?= [::rivetweb::css [::rivetweb::csspath $::rivetweb::template_key "monospace.css?v=$::ngis::cssprogressive"]] ?>
        <script type="text/javascript" src="<?= $::ngis::jquery_url ?>"></script>
        <script type="text/javascript"><?
            catch { $::rivetweb::current_page js }
        ?>
        </script>
    </head>
    <body>
<pre><?
    set template_o [::rivetweb::RWTemplate::template $::rivetweb::template_key]
    set ns [$template_o formatters_ns]

    set snig_header_l [split $::snig_header "\n"]
    set padding [string repeat " " 50]
    foreach l $snig_header_l {
        puts -nonewline $padding
        puts $l
    }
    set hr [string repeat "-" 132]
    puts $hr
?><div id="headline"><?= [$::rivetweb::current_page headline $::rivetweb::language] ?></div>
<?= $hr ?></pre>
<div id="banner"><?
    set menu_d [[::rwdatas::UrlHandler::current_handler] menu_list $::rivetweb::current_page]
    if {[dict exists $menu_d banner]} {
        puts [${ns}::generate_banner $::rivetweb::language [dict get $menu_d banner]]
    }
?></div><?
    if {[$::ngis::messagebox size] > 0} {
        puts [::${ns}::message_box [$::ngis::messagebox pop_messages]]
    }
?><div class="container"><?= [$::rivetweb::current_page print_content $::rivetweb::language] ?></div>
<footer><pre><?
    set handler_class   [[::rwdatas::UrlHandler::current_handler] info class]
    set handler_db_link [::rivet::xml $handler_class [list a href [::rivetweb::composeUrl dbdump 1]]]
    set development_footer [list [$::rivetweb::current_page key] \
                                 "template: $::rivetweb::template_key" \
                                 [$::rivetweb::current_page info class] \
                                 $handler_db_link]
    puts [join $development_footer " | "]
?></pre></footer>
</body>
</html>
