body {
}

#headline {
    text-align: center;
    width: 80em;
    margin-left: 2em;
}

.taskok {
    background-color: black;
    color: #00d787;
}

.taskerror {
    background-color: red;
    color: #0000d7;
}

.taskwarning {
    background-color: #ffff00;
    color: black;
}

div.container {
    /* width: 132em; */
    margin-left: 2em;
    /* border: 1px solid black; */
}

div.bmessage {
    border: 1px solid black;
    margin-left: 2em;
    padding: 1em;
}

.bmessage span {
    font-family: Monospace;
}
