body {
}

.taskok {
    background-color: black;
    color: #00d787;
}

.taskerror {
    background-color: red;
    color: #0000d7;
}

.taskwarning {
    background-color: #ffff00;
    color: black;
}

div.container {
    width: 132em;
    margin-left: 0em;
    /* border: 1px solid black; */
}
